In [2]:
# !pip install openpyxl
# 필요 import 한번에 
from bs4 import BeautifulSoup as BS
from tqdm import tqdm 
import numpy as np
import os
import pandas as pd
import requests
import pickle
import time

In [172]:
# 엑셀 파일을 읽어옵니다.
directory_path = "../../../Downloads"  # 다운로드 폴더에 있을경우
# 엑셀 파일들의 이름 리스트 ('_통계' 문구 있는것만)
excel_files = [f for f in os.listdir(directory_path) if f.endswith('_통계.xlsx')]

# 각 파일의 시트를 저장할 딕셔너리
all_data = {}

for file_name in excel_files:
    file_path = os.path.join(directory_path, file_name)
    # 파일에서 모든 시트를 읽어옴
    sheets = pd.read_excel(file_path, sheet_name=None)
    
    # 각 파일의 시트들을 딕셔너리에 저장
    all_data[file_name] = sheets

# 결과 확인 (파일과 시트 이름을 출력)
for file, sheets in all_data.items():
    print(f"File: {file}")
    for sheet_name, df in sheets.items():
        print(f"  Sheet name: {sheet_name}")
        print(df.head())  # 시트 데이터의 첫 몇 줄을 출력

File: 2023년_10월_자동차_등록자료_통계.xlsx
  Sheet name: 01.통계표
  Unnamed: 0 Unnamed: 1 Unnamed: 2        <     자동차      통계표 Unnamed: 6  \
0      조회년월:    2023.10        NaN      NaN     NaN      NaN        NaN
1         차종         차종         승용      NaN     NaN      NaN         승합
2        용도별        NaN         관용      자가용     영업용        계         관용
3        시도별        NaN        NaN      NaN     NaN      NaN        NaN
4         서울        NaN       4592  2649600  120923  2775115       3710

       > Unnamed: 8 Unnamed: 9  ... Unnamed: 12 Unnamed: 13 Unnamed: 14  \
0    NaN        NaN        NaN  ...         NaN         NaN         NaN
1    NaN        NaN        NaN  ...         NaN         NaN          특수
2    자가용        영업용          계  ...         영업용           계          관용
3    NaN        NaN        NaN  ...         NaN         NaN         NaN
4  73036      14996      91742  ...       60266      313655         415

  Unnamed: 15 Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN          총계         NaN         NaN
2         자가용         영업용           계          관용         자가용         영업용
3         NaN         NaN         NaN         NaN         NaN         NaN
4        5673        5232       11320       12661     2977754      201417

  Unnamed: 21
0         NaN
1         NaN
2           계
3         NaN
4     3191832

[5 rows x 22 columns]
  Sheet name: 02.통계표_시군구
  Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3      <     자동차      통계표  \
0      조회년월:    2023.10        NaN        NaN    NaN     NaN      NaN
1         시도        시군구   승      용        NaN    NaN     NaN  승     합
2        NaN        NaN         관용        자가용    영업용       계       관용
3         서울        강남구        159     212274  18962  231395       56
4        NaN        강동구        113     128922   5059  134094       41

  Unnamed: 7    > Unnamed: 9  ... Unnamed: 12 Unnamed: 13 Unnamed: 14  \
0        NaN  NaN        NaN  ...         NaN         NaN         NaN
1        NaN  NaN        NaN  ...         NaN         NaN     특     수
2        자가용  영업용          계  ...         영업용           계          관용
3       4030  550       4636  ...        2397       16241          18
4       3399  794       4234  ...        2507       14848           6

  Unnamed: 15 Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN     총     계         NaN         NaN
2         자가용         영업용           계          관용         자가용         영업용
3         341         161         520         412      230310       22070
4         209         221         436         314      144717        8581

  Unnamed: 21
0         NaN
1         NaN
2           계
3      252792
4      153612

[5 rows x 22 columns]
  Sheet name: 03.수입차_시군구
  Unnamed: 0 Unnamed: 1       <  시군구  수입차    > Unnamed: 6
0      조회년월:    2023.10     NaN  NaN  NaN  NaN        NaN
1         시도        시군구      승용   승합   화물   특수         합계
2        NaN        NaN     NaN  NaN  NaN  NaN        NaN
3         서울        강남구  100156  276  476  122     101030
4        NaN        강동구   26175   93  265   53      26586
  Sheet name: 04.성별_연령별
  Unnamed: 0 Unnamed: 1 Unnamed: 2       <     자동차      성별     연령별  자동차.1  \
0      조회년월:    2023.10        NaN     NaN     NaN     NaN     NaN    NaN
1         성별      연령/시도         총계      서울      부산      대구      인천     광주
2         남성      10대이하       9740    2306     565     214     482    159
3        NaN        20대     541573   53299   26826   24516   32885  19147
4        NaN        30대    2333359  318679  126161  110260  145464  67644

     통계표      > Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14  \
0    NaN    NaN         NaN         NaN         NaN         NaN         NaN
1     대전     울산          세종          경기          강원          충북          충남
2    293    210          79        2620         241         380         344
3  18712  13880        3549      150739       21458       24958       31412
4  71414  56714       25018      694768       69075       84631      119170

  Unnamed: 15 Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19
0         NaN         NaN         NaN         NaN         NaN
1          전북          전남          경북          경남          제주
2         354         326         288         662         217
3       21320       23658       31713       36075        7426
4       71084       75570      117289      150730       29688
  Sheet name: 05.차종별_등록현황(전체)
  < 자동차 등록현황(총 계) > Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
0     조회년월: 2023.10        NaN        NaN        NaN        NaN        NaN
1               NaN        NaN        NaN        NaN      차 종 별         서울
2                총계        NaN        NaN        NaN        NaN    3191832
3               NaN      승용차합계        NaN        NaN        NaN    2775115
4               NaN        NaN    승용일반형 계        NaN        NaN    1842913

  Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 13 Unnamed: 14  \
0        NaN        NaN        NaN        NaN  ...         NaN         NaN
1         부산         대구         인천         광주  ...          경기          강원
2    1523018    1254866    1726733     721215  ...     6496646      864864
3    1287133    1060353    1476304     606494  ...     5425805      667494
4     835567     717765     919484     398816  ...     3436781      410497

  Unnamed: 15 Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1          충북          충남          전북          전남          경북          경남
2      933878     1240350      990336     1243731     1530862     1935481
3      734063      960225      760818      941672     1152813     1577326
4      467380      609844      483248      575493      764199     1031589

  Unnamed: 21 Unnamed: 22
0         NaN         NaN
1          제주          합계
2      701839    25870152
3      593153    21312794
4      341599    13680463

[5 rows x 23 columns]
  Sheet name: 06.차종별_등록현황(관용)
  < 자동차 등록현황(관 용) > Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
0     조회년월: 2023.10        NaN        NaN        NaN        NaN        NaN
1               NaN        NaN        NaN        NaN      차 종 별         서울
2                총계        NaN        NaN        NaN        NaN      12661
3               NaN      승용차합계        NaN        NaN        NaN       4592
4               NaN        NaN    승용일반형 계        NaN        NaN       3186

  Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 13 Unnamed: 14  \
0        NaN        NaN        NaN        NaN  ...         NaN         NaN
1         부산         대구         인천         광주  ...          경기          강원
2       4817       3692       4322       2410  ...       18641        6596
3       1741       1056       1644        874  ...        7889        1950
4       1186        694       1168        575  ...        5016        1056

  Unnamed: 15 Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1          충북          충남          전북          전남          경북          경남
2        4338        6121        5680        6985        7867        7547
3        1410        2014        1887        2355        2690        2567
4         893        1235        1114        1398        1557        1486

  Unnamed: 21 Unnamed: 22
0         NaN         NaN
1          제주          합계
2        2460       99194
3         848       35269
4         629       22288

[5 rows x 23 columns]
  Sheet name: 07.차종별_등록현황(자가용)
  < 자동차 등록현황(자 가 용) > Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
0       조회년월: 2023.10        NaN        NaN        NaN        NaN        NaN
1                 NaN        NaN        NaN        NaN      차 종 별         서울
2                  총계        NaN        NaN        NaN        NaN    2977754
3                 NaN      승용차합계        NaN        NaN        NaN    2649600
4                 NaN        NaN    승용일반형 계        NaN        NaN    1753691

  Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 13 Unnamed: 14  \
0        NaN        NaN        NaN        NaN  ...         NaN         NaN
1         부산         대구         인천         광주  ...          경기          강원
2    1344931    1195619    1440315     686064  ...     6222565      831715
3    1163388    1030380    1240068     591658  ...     5341003      653083
4     774592     695812     779926     386883  ...     3375325      400572

  Unnamed: 15 Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1          충북          충남          전북          전남          경북          경남
2      889477     1192774      948154     1006756     1473950     1776820
3      715191      944714      745113      743844     1136615     1463802
4      454433      598395      472077      466826      751670      975414

  Unnamed: 21 Unnamed: 22
0         NaN         NaN
1          제주          합계
2      419515    23852081
3      323839    20004226
4      200393    12909295

[5 rows x 23 columns]
  Sheet name: 08.차종별 등록현황(영업용)
  < 자동차 등록현황(영 업 용) > Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
0       조회년월: 2023.10        NaN        NaN        NaN        NaN        NaN
1                 NaN        NaN        NaN        NaN      차 종 별         서울
2                  총계        NaN        NaN        NaN        NaN     201417
3                 NaN      승용차합계        NaN        NaN        NaN     120923
4                 NaN        NaN    승용일반형 계        NaN        NaN      86036

  Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 13 Unnamed: 14  \
0        NaN        NaN        NaN        NaN  ...         NaN         NaN
1         부산         대구         인천         광주  ...          경기          강원
2     173270      55555     282096      32741  ...      255440       26553
3     122004      28917     234592      13962  ...       76913       12461
4      59789      21259     138390      11358  ...       56440        8869

  Unnamed: 15 Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1          충북          충남          전북          전남          경북          경남
2       40063       41455       36502      229990       49045      151114
3       17462       13497       13818      195473       13508      110957
4       12054       10214       10057      107269       10972       54689

  Unnamed: 21 Unnamed: 22
0         NaN         NaN
1          제주          합계
2      279864     1918877
3      268466     1273299
4      140577      748880

[5 rows x 23 columns]
  Sheet name: 09.차종별_유형별 현황
  Unnamed: 0 Unnamed: 1 Unnamed: 2       <     차종별     유형별    등록현황 Unnamed: 7  \
0      조회년월:    2023.10        NaN     NaN     NaN     NaN     NaN        NaN
1        NaN        시도별         서울      부산      대구      인천      광주         대전
2         종별        유형별        NaN     NaN     NaN     NaN     NaN        NaN
3         승용         일반    1842913  835567  717765  919484  398816     407424
4        NaN      승용겸화물      11825    4375    3456   12648    2222       2462

        > Unnamed: 9 Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13  \
0     NaN        NaN         NaN         NaN         NaN         NaN
1      울산         세종          경기          강원          충북          충남
2     NaN        NaN         NaN         NaN         NaN         NaN
3  323011     114853     3436781      410497      467380      609844
4    1437        493       21068        2848        3060        3725

  Unnamed: 14 Unnamed: 15 Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19
0         NaN         NaN         NaN         NaN         NaN         NaN
1          전북          전남          경북          경남          제주           계
2         NaN         NaN         NaN         NaN         NaN         NaN
3      483248      575493      764199     1031589      341599    13680463
4        2438        8377        3681        5759        7229       97103
  Sheet name: 10.연료별_등록현황
  Unnamed: 0 Unnamed: 1 Unnamed: 2    <  연료별  차종별  용도별 등록현황 Unnamed: 8    >  \
0      조회년월:    2023.10        NaN  NaN  NaN  NaN  NaN  NaN        NaN  NaN
1        연료별        시도별        NaN   서울   부산   대구   인천   광주         대전   울산
2        NaN         종별        용도별  NaN  NaN  NaN  NaN  NaN        NaN  NaN
3        휘발유                   NaN  NaN  NaN  NaN  NaN  NaN        NaN  NaN
4        휘발유                   NaN  NaN  NaN  NaN  NaN  NaN        NaN  NaN

   ... Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14 Unnamed: 15  \
0  ...         NaN         NaN         NaN         NaN         NaN
1  ...          경기          강원          충북          충남          전북
2  ...         NaN         NaN         NaN         NaN         NaN
3  ...         NaN         NaN         NaN         NaN         NaN
4  ...         NaN         NaN         NaN         NaN         NaN

  Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20
0         NaN         NaN         NaN         NaN         NaN
1          전남          경북          경남          제주           계
2         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN

[5 rows x 21 columns]
  Sheet name: 11.최대적재량별_등록현황
  Unnamed: 0 Unnamed: 1 Unnamed: 2       < 최대적재량별  화물자동차   등록현황 Unnamed: 7  \
0      조회년월:    2023.10        NaN     NaN    NaN    NaN    NaN        NaN
1          규        NaN          모   1톤 이하  1톤 초과  3톤 이상  5톤 이상      8톤 이상
2         시도       유  형       용  도     NaN  3톤 미만  5톤 미만  8톤 미만     10톤 미만
3         서울        일반형       비사업용  143617  11816   5194   2046        344
4        NaN        NaN        사업용   19184   3542   6483   2387       1150

        > Unnamed: 9 Unnamed: 10 Unnamed: 11 Unnamed: 12
0     NaN        NaN         NaN         NaN         NaN
1  10톤 이상     12톤 이상      15톤 이상      20톤 이상           계
2  12톤 미만     15톤 미만      20톤 미만         NaN         NaN
3     286        158         190         161      163812
4     382        909         237        1369       35643
  Sheet name: 12.배기별(승용차)_등록현황
  Unnamed: 0        <     승용차의     배기량별     등록현황 Unnamed: 5        >  \
0      조회년월:  2023.10      NaN      NaN      NaN        NaN      NaN
1        NaN      배기량  1000 미만  1000 이상  1600 이상    2000 이상  2500 이상
2         시도      NaN      NaN  1600 미만  2000 미만    2500 미만      NaN
3         서울      NaN   179416   560554  1016561     449014   507524
4         부산      NaN   104508   272515   458125     208366   216057

  Unnamed: 7 Unnamed: 8 Unnamed: 9
0        NaN        NaN        NaN
1      저속전기차        전기차          계
2        NaN        NaN        NaN
3         46      62000    2775115
4         18      27544    1287133
  Sheet name: 13.차종별_등록(시도)
  Unnamed: 0        <      차종별    용도별    등록현황 Unnamed: 5        >
0      조회년월:  2023.10      NaN    NaN     NaN        NaN      NaN
1        NaN      차종별       승용     승합      화물         특수        계
2         시도       용도      NaN    NaN     NaN        NaN      NaN
3         서울      사업용   120923  14996   60266       5232   201417
4        NaN     비사업용  2654192  76746  253389       6088  2990415
  Sheet name: 14.차종별_상세등록(시도)
  Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3    <     차령별  차종별    용도별 등록현황  \
0        NaN      조회년월:    2023.10        NaN  NaN     NaN  NaN    NaN  NaN
1         시도         차종        승 용        NaN  NaN     NaN  승 합    NaN  NaN
2        NaN       모델연도         관용        자가용  영업용       계   관용    자가용  영업용
3         서울       2003         35     124255  117  124407    7  13108  114
4        NaN       2004         12      21059    3   21074    0    422    1

  Unnamed: 9  ... Unnamed: 12 Unnamed: 13 Unnamed: 14 Unnamed: 15 Unnamed: 16  \
0        NaN  ...         NaN         NaN         NaN         NaN         NaN
1        NaN  ...         NaN         NaN         특 수         NaN         NaN
2          계  ...         영업용           계          관용         자가용         영업용
3      13229  ...        1825       39686           0         429         101
4        423  ...         482        2826           2          22          23

  Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21
0         NaN         NaN         NaN         NaN         NaN
1         NaN         합 계         NaN         NaN         NaN
2           계          관용         자가용         영업용           계
3         530          52      175643        2157      177852
4          47          42       23819         509       24370

[5 rows x 22 columns]
  Sheet name: 15.차령별_차종별_용도별 등록현황
  Unnamed: 0 Unnamed: 1 Unnamed: 2    <     차령별  차종별    용도별 등록현황   (총계)    >  \
0      조회년월:    2023.10        NaN  NaN     NaN  NaN    NaN  NaN    NaN  NaN
1         차종        승 용        NaN  NaN     NaN  승 합    NaN  NaN    NaN  화 물
2       모델년도         관용        자가용  영업용       계   관용    자가용  영업용      계   관용
3       2003         96     632292  427  632815   15  70829  532  71376   93
4       2004         29     114872   11  114912    3   3439   20   3462   68

   ... Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14 Unnamed: 15  \
0  ...         NaN         NaN         NaN         NaN         NaN
1  ...         NaN         NaN         특 수         NaN         NaN
2  ...         영업용           계          관용         자가용         영업용
3  ...       27824      373904          10        4297        2845
4  ...        5049       45499           2         478         775

  Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20
0         NaN         NaN         NaN         NaN         NaN
1         NaN         합 계         NaN         NaN         NaN
2           계          관용         자가용         영업용           계
3        7152         214     1053405       31628     1085247
4        1255         102      159171        5855      165128

[5 rows x 21 columns]
  Sheet name: 16.승차정원별(승합차) 등록현황
  Unnamed: 0 Unnamed: 1 Unnamed: 2     <  승합차의   승차정원별    등록현황 Unnamed: 7  \
0      조회년월:    2023.10        NaN   NaN   NaN     NaN     NaN        NaN
1          규          모       0-3명  4-6명  7-9명  10-12명  13-15명     16-25명
2         시도         용도        NaN   NaN   NaN     NaN     NaN        NaN
3         서울        사업용        164    35     4    2445     467       2023
4        NaN       비사업용       2211  6619  8247   50319    4674       1644

        > Unnamed: 9 Unnamed: 10 Unnamed: 11 Unnamed: 12
0     NaN        NaN         NaN         NaN         NaN
1  26-35명     36-45명      46-50명      50명 이상           계
2     NaN        NaN         NaN         NaN         NaN
3    1016        773        5421        2648       14996
4    1113        747        1116          56       76746
  Sheet name: 17.차종별_규모별 등록현황_초소형
  Unnamed: 0        <      차종별    규모별    등록현황 Unnamed: 5        >
0      조회년월:  2023.10      NaN    NaN     NaN        NaN      NaN
1        NaN      차종별       승용     승합      화물         특수        계
2         시도       규모      NaN    NaN     NaN        NaN      NaN
3         서울       소형    39342   4542  238812       7276   289972
4        NaN       중형  1599667  68655   38864       2015  1709201
  Sheet name: 18.자가용 자동차 증가추세
  Unnamed: 0        <    자가용     자동차      증가추세         > Unnamed: 6  \
0      조회년월:  2023.10    NaN     NaN       NaN       NaN        NaN
1         구분      NaN  총보유대수  자가용총대수  자가용승용차전국  자가용승용차서울      자가용승합
2         년도        계    NaN     NaN       NaN       NaN        NaN
3        NaN   증가율(%)    NaN     NaN       NaN       NaN        NaN
4        NaN   구성비(%)    NaN     NaN       NaN       NaN        NaN

  Unnamed: 7 Unnamed: 8
0        NaN        NaN
1      자가용화물      자가용특수
2        NaN        NaN
3        NaN        NaN
4        NaN        NaN
  Sheet name: 19.연도별 자동차 등록현황

In [ ]:
# 뭐뭐들었나 확인해봄
excel_files

['2023년_10월_자동차_등록자료_통계.xlsx',
 '2023년_11월_자동차_등록자료_통계.xlsx',
 '2023년_12월_자동차_등록자료_통계.xlsx',
 '2024년_01월_자동차_등록자료_통계.xlsx',
 '2024년_02월_자동차_등록자료_통계.xlsx',
 '2024년_03월_자동차_등록자료_통계.xlsx',
 '2024년_04월_자동차_등록자료_통계.xlsx',
 '2024년_05월_자동차_등록자료_통계.xlsx',
 '2024년_06월_자동차_등록자료_통계.xlsx',
 '2024년_07월_자동차_등록자료_통계.xlsx',
 '2024년_08월_자동차_등록자료_통계.xlsx',
 '2024년_09월_자동차_등록자료_통계.xlsx',
 '2024년_10월_자동차_등록자료_통계.xlsx']

In [143]:
# 시트이름 조회
list(all_data[excel_files[0]])

['01.통계표',
 '02.통계표_시군구',
 '03.수입차_시군구',
 '04.성별_연령별',
 '05.차종별_등록현황(전체)',
 '06.차종별_등록현황(관용)',
 '07.차종별_등록현황(자가용)',
 '08.차종별 등록현황(영업용)',
 '09.차종별_유형별 현황',
 '10.연료별_등록현황',
 '11.최대적재량별_등록현황',
 '12.배기별(승용차)_등록현황',
 '13.차종별_등록(시도)',
 '14.차종별_상세등록(시도)',
 '15.차령별_차종별_용도별 등록현황',
 '16.승차정원별(승합차) 등록현황',
 '17.차종별_규모별 등록현황_초소형',
 '18.자가용 자동차 증가추세',
 '19.연도별 자동차 등록현황',
 '20.신규 등록현황(당월)',
 '21.신규 등록현황(누계)',
 '22.변경 등록현황(당월)',
 '23.변경 등록현황(누계)',
 '24.이전 등록현황(당월)',
 '25.이전 등록현황(누계)',
 '26.말소 등록현황(당월)',
 '27.말소 등록현황(누계)']

In [173]:

all_df = pd.DataFrame()
for file, sheets in all_data.items():
    # 특정 시트 이름을 선택해서 변환
    year = file[:4]
    month = file[6:8]
    if '04.성별_연령별' in sheets:
        df = sheets['04.성별_연령별']
        df.columns = df.iloc[1]  # 세 번째 줄을 컬럼으로 설정
        df = df.drop([0, 1]).reset_index(drop=True)  # 첫 세 줄 제거 후 인덱스 재설정
        df.rename(columns={('연령/시도'): ('연령')}, inplace=True) # 연령/시도 -> 연령으로 컬럼 변경 
        df.drop(columns=['총계'], inplace=True) # 총계 컬럼 삭제
        # 성별 컬럼에 남성/여성으로 채움 
        df[("성별")] = df[("성별")].fillna(method='ffill')
        # 합계, 사업자 행 삭제 
        df = df[~df['연령'].isin(['계', '법인 및 사업자']) & df['연령'].notna()]
        # 성별, 연령외의 컬럼을 값으로 변경 
        df2 = df.melt(id_vars=[('성별'), ('연령')])
        # 컬럼명 변경
        df2.columns = ['gender', 'age', 'district_si', 'num']
        # 년, 월 
        df2['year'] = year
        df2['month'] = month
        # 컬럼순서 조절 
        df2 = df2[['year', 'month', 'gender', 'age', 'district_si', 'num']]
        # 결과를 all_df에 누적
        all_df = pd.concat([all_df, df2], ignore_index=True)

C:\Users\Playdata\AppData\Local\Temp\ipykernel_8252\1099593437.py:13: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[("성별")] = df[("성별")].fillna(method='ffill')
C:\Users\Playdata\AppData\Local\Temp\ipykernel_8252\1099593437.py:13: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[("성별")] = df[("성별")].fillna(method='ffill')
C:\Users\Playdata\AppData\Local\Temp\ipykernel_8252\1099593437.py:13: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[("성별")] = df[("성별")].fillna(method='ffill')
C:\Users\Playdata\AppData\Local\Temp\ipykernel_8252\1099593437.py:13: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[("성별")] = df[("성별")].fillna(method='ffill')
C:\Users\Playdata\AppData\Local\Temp\ipykernel_8252\1099593437.py:13: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[("성별")] = df[("성별")].fillna(method='ffill')
C:\Users\Playdata\AppData\Local\Temp\ipykernel_8252\1099593437.py:13: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[("성별")] = df[("성별")].fillna(method='ffill')
C:\Users\Playdata\AppData\Local\Temp\ipykernel_8252\1099593437.py:13: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[("성별")] = df[("성별")].fillna(method='ffill')
C:\Users\Playdata\AppData\Local\Temp\ipykernel_8252\1099593437.py:13: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[("성별")] = df[("성별")].fillna(method='ffill')
C:\Users\Playdata\AppData\Local\Temp\ipykernel_8252\1099593437.py:13: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[("성별")] = df[("성별")].fillna(method='ffill')
C:\Users\Playdata\AppData\Local\Temp\ipykernel_8252\1099593437.py:13: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[("성별")] = df[("성별")].fillna(method='ffill')
C:\Users\Playdata\AppData\Local\Temp\ipykernel_8252\1099593437.py:13: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[("성별")] = df[("성별")].fillna(method='ffill')
C:\Users\Playdata\AppData\Local\Temp\ipykernel_8252\1099593437.py:13: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[("성별")] = df[("성별")].fillna(method='ffill')
C:\Users\Playdata\AppData\Local\Temp\ipykernel_8252\1099593437.py:13: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[("성별")] = df[("성별")].fillna(method='ffill')

In [ ]:
# 고유한 PK로 사용할 'index' 컬럼 생성
all_df.reset_index(drop=True, inplace=True)  # 인덱스 초기화
all_df['id'] = all_df.index + 1  # 'pk' 컬럼 생성 (1부터 시작하는 고유 인덱스)

# 컬럼 순서에 'pk' 추가
all_df = all_df[['id', 'year', 'month', 'gender', 'age', 'district_si', 'num']]

        id  year  month gender    age district_si     num
0        1  2023     10     남성  10대이하          서울    2306
1        2  2023     10     남성    20대          서울   53299
2        3  2023     10     남성    30대          서울  318679
3        4  2023     10     남성    40대          서울  503280
4        5  2023     10     남성    50대          서울  531615
...    ...   ...    ...    ...    ...         ...     ...
3973  3974  2024     10     여성    50대          제주   34488
3974  3975  2024     10     여성    60대          제주   22463
3975  3976  2024     10     여성    70대          제주    5058
3976  3977  2024     10     여성    80대          제주     753
3977  3978  2024     10     여성  90대이상          제주     128

[3978 rows x 7 columns]

In [ ]:
# pip install sqlalchemy
# !pip install mysqlclient 
# !pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

# db에 넣기

In [ ]:
# db 연결정보 
# 이부분 지움

In [ ]:
import pymysql
# 이부분 지움
cursor = con.cursor()

0

In [178]:
# 테이블 생성
create_table_sql = """CREATE TABLE gender_age (
            id int NOT NULL,
            year char(50) NULL,
            month char(50) NULL,
            gender char(10) NULL,
            age VARCHAR(15) NULL,
            district_si VARCHAR(20) NULL,
            num int NULL
        );"""

cursor.execute(create_table_sql)

# PRIMARY KEY 추가
alter_table_sql = "ALTER TABLE gender_age ADD PRIMARY KEY (id);"
cursor.execute(alter_table_sql)

0

In [180]:

# 테이블에 데이터 넣기 
all_df.to_sql('gender_age', if_exists='append', index=False, con=engine)

3978

In [170]:
all_df

        pk  year  month gender    age district_si     num
0        1  2023     10     남성  10대이하          서울    2306
1        2  2023     10     남성    20대          서울   53299
2        3  2023     10     남성    30대          서울  318679
3        4  2023     10     남성    40대          서울  503280
4        5  2023     10     남성    50대          서울  531615
...    ...   ...    ...    ...    ...         ...     ...
3973  3974  2024     10     여성    50대          제주   34488
3974  3975  2024     10     여성    60대          제주   22463
3975  3976  2024     10     여성    70대          제주    5058
3976  3977  2024     10     여성    80대          제주     753
3977  3978  2024     10     여성  90대이상          제주     128

[3978 rows x 7 columns]